<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="C_SID" value="xxx" />
    <add key="C_ALLIANCEID" value="xxx" />
    <add key="C_APIKEY" value="xxxxxx" />
    <add key="C_APIURL" value="http://openapi.ctrip.com" />
    
    <add key="ISLOCKED" value="true" />
    <add key="TC_Account" value="xxxxx4" />
    <add key="TC_KEY" value="xxxxx" />
    
    <add key="RedisCacheUrl" value="http://localhost:8084"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="server=.;uid=sa;pwd=xxxx;database=TRAVEL" providerName="System.Data.SqlClient" />
    <add name="SceneryTicket" connectionString="server=.;uid=sa;pwd=xxxx;database=SceneryTicket" providerName="System.Data.SqlClient"/>
    <add name="HotelSyncRecord" connectionString="server=.;uid=sa;pwd=xxxx;database=HotelSyncRecord" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>