<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="C_SID" value="170965" />
    <add key="C_ALLIANCEID" value="7133" />
    <add key="C_APIKEY" value="F7A4FB80-4CC5-413A-9784-B736D429C923" />
    <add key="C_APIURL" value="http://openapi.ctrip.com" />
    
    <add key="ISLOCKED" value="true" />
    <add key="TC_Account" value="bc83c112-dc21-4ae5-83eb-63fe03f185f4" />
    <add key="TC_KEY" value="06e5174c2bcf8f87" />
    <add key="TC_SceneryQueryUrl" value="http://tcopenapi.17usoft.com/handlers/scenery/queryhandler.ashx" />
    <add key="TC_SceneryOrderUrl" value="http://tcopenapi.17usoft.com/handlers/scenery/orderhandler.ashx" />
    <add key="TC_SceneryCommentUrl" value="http://tcopenapi.17usoft.com/handlers/scenery/commenthandler.ashx" />
    <add key="TC_AllianceID" value="25376029" />
    <add key="BaiDuApi" value="http://api.map.baidu.com/location/ip" />
    <add key="RedisCacheUrl" value="http://localhost:8084"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=TRAVEL" providerName="System.Data.SqlClient" />
    <add name="SceneryTicket" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=SceneryTicket" providerName="System.Data.SqlClient"/>
    <add name="HotelSyncRecord" connectionString="server=.;uid=sa;pwd=123qwe!@#;database=HotelSyncRecord" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>